#message > DIV {
  min-height: 26px;
  
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  
  background: rgb(247,224,167); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(247,224,167,1) 0%, rgba(243,197,88,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,224,167,1)), color-stop(100%,rgba(243,197,88,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(247,224,167,1) 0%,rgba(243,197,88,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(247,224,167,1) 0%,rgba(243,197,88,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(247,224,167,1) 0%,rgba(243,197,88,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(247,224,167,1) 0%,rgba(243,197,88,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e0a7', endColorstr='#f3c558',GradientType=0 ); /* IE6-9 */
}

#message .message-close {
  text-decoration: none;
  position: absolute;
  right: 0px;
  margin: 4px 5px 4px 4px;
  width: 18px;
  height: 18px;
  background-image: url('../img/sprites.png');
  background-position: 47px -2px;
}

#message .message-close:hover {
  background-color: white;
}

#message .message-text {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  line-height:150%;
  margin-right: 26px;
  overflow:hidden;
  text-align: left;
}

#message .message-icon {
  width: 19px; 
  height: 19px; 
  background-image: url('../img/sprites.png');
  margin: 3px 5px 5px 8px;
  padding: 0px;
}

#message .message-icon-alert {
  background-position: -1px -21px;
}

#message .message-icon-info {
  background-position: -20px -21px;
}

#message .message-icon-question {
  background-position: -38px -21px;
}

#navigation {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  
  height: 38px;
  background: rgb(60,60,60); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(31,31,31,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,60,60,1)), color-stop(100%,rgba(31,31,31,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(31,31,31,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(31,31,31,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(31,31,31,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(60,60,60,1) 0%,rgba(31,31,31,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-9 */
}

#navigation > DIV {
  height: 38px;
  line-height: 38px;
}

#navgation-logo {
  width: 28px;
  margin-left: 5px;
  background-image: url('../img/sprites.png');
  background-position: -63px 0px;
}

#navgation-name {
  left: 38px;
}

#navgation-main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

#navgation-main li {
  display: inline;
}

#navgation-main ul {
  display: none;
}

#navgation-user {
  right: 5px;
  height: 38px;
  line-height: 38px;
}

#navgation-user li {
  display: inline;
  
}

#navigation-user-avatar {
   padding: 7px;
}
