/* User messages */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
}

#message {
  display: none;
}

#message > DIV {
  background: #ffe13e;
  background: -moz-linear-gradient(top, #ffe13e 0%, #ffc703 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe13e), color-stop(100%,#ffc703));
  background: -webkit-linear-gradient(top, #ffe13e 0%,#ffc703 100%);
  background: -o-linear-gradient(top, #ffe13e 0%,#ffc703 100%);
  background: -ms-linear-gradient(top, #ffe13e 0%,#ffc703 100%);
  background: linear-gradient(top, #ffe13e 0%,#ffc703 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe13e', endColorstr='#ffc703',GradientType=0 );
  border-bottom: 1px solid #BF8A01;
  margin: 0;
  padding: 0;
}

#message .message-close {
  position: absolute;
  z-index: 110;
  text-decoration: none;
  right: 0px;
  margin: 3px 4px 3px 4px;
  width: 18px;
  height: 18px;
  background-image: url('../img/sprites.png');
  background-position: 47px -2px;
}

#message .message-close:hover {
  background-color: white;
}

#message .message-text {
  font-weight: 800;
  min-height: 20px;
  position: relative;
  line-height:150%;
  padding: 2px 26px 2px 32px;
  overflow:hidden;
  text-align: left;
}

#message .message-icon {
  position: absolute;
  width: 19px; 
  height: 19px; 
  background-image: url('../img/sprites.png');
  margin: 3px 5px 5px 8px;
  padding: 0px;
}

#message .message-icon-alert {
  background-position: -1px -21px;
}

#message .message-icon-info {
  background-position: -20px -21px;
}

#message .message-icon-question {
  background-position: -38px -21px;
}

/* Navigation */

#navigation {
  height: 38px;
  color: #dcdcdc;
  background: rgb(60,60,60); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(31,31,31,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,60,60,1)), color-stop(100%,rgba(31,31,31,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(31,31,31,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(31,31,31,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(31,31,31,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(60,60,60,1) 0%,rgba(31,31,31,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-9 */
}

#navigation > DIV {
  height: 38px;
  line-height: 38px;
}

#navigation-logo {
  position: absolute;
  width: 28px;
  margin-left: 5px;
  background-image: url('../img/sprites.png');
  background-position: -63px 0px;
}

#navigation-main {
  position: relative;
  margin: 0px 215px 0px 38px;
}

#navigation-name {
  display: inline-block;
  float: left;
  margin-right: 5px;
  font-weight: 800;
}

#navigation-main ul {
  display: inline-block;
  overflow: hidden;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

#navigation-main li {
  display: inline-block;
  list-style: none;
  
}

/*
#navigation-main li:before {
  content: url('../img/separator.png');
  float: left;
}
*/

#navigation-main a {
  display: inline-block;
  padding: 0 6px 0 6px;
}

#navigation-main li:hover, #navigation-main li.navigation-selected {
  background-color: rgba(60,60,60,1);
}

#navigation-main li:hover {
  border-bottom: 2px solid #dcdcdc;
  height: 36px;
}

#navigation-main a {
  text-decoration: none;
  color: #dcdcdc;
}

#navigation-main ul li ul{
  position: absolute;
  z-index: 120;
  top: 38px;
  height: 25px;
  line-height: 25px;
  
  left: -38px;
  padding: 0 215px 0 38px;
  margin-bottom: 50px;
  width: 100%;
  
  background: rgb(60,60,60); /*sub menu background color */
  display: none;
}

#navigation-main ul li:hover ul {
  z-index: 130;
}

#navigation-main ul li ul li:hover {
  background: rgb(31,31,31);
}

#navigation-main ul li:hover ul, #navigation-main ul li.navigation-selected ul {
  display: block;
}

/* Navigation User */

#navigation-user {
  position: absolute;
  right: 0px;
}

#navigation-user a, #navigation-user img , #navigation-user div {
  display: inline-block;
  float: left;
}

.navigation-separator {
  background-image: url('../img/sprites.png');
  background-position: -62px -1px;
  width: 1px;
  height: 38px;
}

#navigation-user-name {
  margin-left: 3px;
  max-width: 120px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
  height: 38px;
}

#navigation-user-avatar {
  padding: 7px;
}

#navigation-user-settings, #navigation-user-logout {
  display: inline-block;
  background-image: url('../img/sprites.png');
  width: 20px;
  height: 20px;
  margin: 9px 5px 9px 3px;
  text-decoration: none;
}

#navigation-user-settings {
  background-position: -22px -1px;
}

#navigation-user-logout {
  background-position: -1px -1px;
}

#content {
  z-index: 0;
  top: 63px;
  position: relative;
}
